.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: solid gray !important;
  background: #141a46;
  color: white;
}

.nav-link {
  font-weight: 300 !important;
  color: aliceblue !important;
}

/* .active {
  color: aliceblue !important;
} */

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}

.search-form {
  margin-right: 30px;
  margin-top: 4px;
}
.search-form input {
  border: none;
  border-radius: 0;
}
.search-form button {
  background-color: #000000;
  border-radius: 0;
  color: white;
}

.navbar-brand .company-logo img {
  height: 48px;
  width: 60px;
  /* padding-right: 2px; */
}

.navbar-brand .company-logo .company-name {
  font-size: 18px;
  font-weight: 800; /* Bold column headings */
  color: rgb(227, 227, 103);
  font-family: cursive;
}

.navbar-brand .company-logo .company-name .subName {
  font-size: 18px;
  font-weight: 300;
  color: #f26464;
  font-family: cursive;
}
.nav-txt-clr {
  color: white !important;
}

.nav-txt-clr :hover {
  color: white !important;
}

.txt-clr :hover {
  background-color: rgb(112, 163, 244) !important;
}
